/*Fuentes a utilizar*/

@font-face {
    font-family: "Quicksand-Medium";
    src: url("../Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Exo2-Medium";
    src: url("../Exo2-Medium.ttf");
}

/*Menú Principal*/

* {
    margin: 0px;
    padding: 0px;
}

#aguila_logo {
    background-color: #000;
    opacity: 0.7;  
}

#menu1 {
    margin: auto;
    width: 759px;
    font-family: Exo2-Medium;
    font-size: 20px;
}

ul, ol {
    list-style: none;
}

.nav li a {
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    display: block;
}

.nav li {
    float: left;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 167.5px;
}

.nav li:hover ul {
    display: grid;
    z-index: 1;
}

#inicio {
    border-radius: 0px 0px 0px 10px;
}

#contacto {
    border-radius: 0px 0px 10px 0px;
}

#icono {
    margin-left: 10px; 
}

/*Elementos del cuerpo*/

body { 
    background-image: url(../tomb_raider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-decoration: none;
    background-color: #000;
    opacity: 0.7;
    text-align: center;
    font-family: Quicksand-Medium;
    font-size: 25px;
    color: #fff;
    letter-spacing: 5px;
}

footer {
    font-family: Quicksand-Medium;
    background-color: black;
    opacity: 0.5;
    color: #fff;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-top: 100px;
}

/*Contenido Eagle Games*/

#title0 {
    font-family: Quicksand-Medium;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    border-radius: 100px;
    letter-spacing: 5px;
    text-align: center;
    margin: 100px 300px 50px 300px;
}

#title1 {
    font-family: Quicksand-Medium;
    background-color: darkorange;
    opacity: 0.7;
    color: #fff;
    border-radius: 100px;
    letter-spacing: 5px;
    text-align: center;
    margin: 100px 300px 50px 300px;
}

#title2 {
    font-family: Quicksand-Medium;
    background-color: red;
    opacity: 0.7;
    color: #fff;
    border-radius: 100px;
    letter-spacing: 5px;
    text-align: center;
    margin: 100px 300px 50px 300px;
}

#linea1{
    text-align: center;
}

#linea1 ul li{
    display: inline-block;
}

#input1 {
    text-align: center;
}

form {
    display: inline-block;
}

#comprar {
    font-family: Quicksand-Medium;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    border: none;
    border-radius: 100px 100px 100px 100px;
    padding: 3px 92.9px 3px 92.9px;
}

#comprar:hover {
    font-family: Quicksand-Medium;
    background-color: springgreen;
    opacity: 0.7;
    color: black;
    border: none;
    border-radius: 100px 100px 100px 100px;
    padding: 3px 92.9px 3px 92.9px;
}

#categoria {
    font-family: Quicksand-Medium;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    border: none;
    border-radius: 100px 100px 100px 100px;
    padding: 3px 62.35px 3px 62.35px;
    margin: 3px 0px 20px 0px;
}

#categoria:hover {
    font-family: Quicksand-Medium;
    background-color: gray;
    opacity: 0.7;
    color: black;
    border: none;
    border-radius: 100px 100px 100px 100px;
    padding: 3px 62.35px 3px 62.35px;
    margin: 3px 0px 20px 0px;
}

/*Media queries*/

/*resoluciones aproximadas de un celular*/

@media screen and (min-width: 200px) and (max-width: 500px) and (min-height: 200px) and (max-height: 500px){

#menu1 {
    margin: 0px;
    width: auto;
}

.nav li a {
    padding: 10px 0px 10px 0px;
    display: block;
}

.nav li {
    float: none;
}

#inicio {
    border-radius: 0px;
}

#contacto {
    border-radius: 0px;
}

#title0 {
    margin: 20px 10px 10px 10px;
}

#title1{
    margin: 20px 10px 10px 10px;
}

#title2 {
    margin: 50px 30px 10px 30px;
}

#comprar {
    margin: 3px 0px 20px 0px;
}

#comprar:hover {
    margin: 3px 0px 20px 0px;
}
}


